@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");
.main {
  height: calc(100vh - 60px);
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}
.navbar {
  height: 60px;
}
.login {
  background: url("https://res.cloudinary.com/dlrm1ch0d/image/upload/v1690620494/download_vdludp.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh - 60px);
}
.login-content {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
